:root {
  font-family: "Inconsolata", monospace;
  color: rgba(218, 195, 255);
  background: linear-gradient(80deg, rgb(9, 8, 19), rgb(21, 12, 37));
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-weight: 300;
}

a {
  font-weight: 300;
  color: rgba(218, 195, 255);
  text-decoration: inherit;
  transition: color 0.3s ease;
}
a:hover {
  color: rgb(181, 169, 247);
}

ul{
  list-style: none;
}

body {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
