header {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
}

h1 {
    font-size: 2.5em;
}

ul {
    display: flex;
}

li {
    padding: 0.7em;
    margin: 0em 1.5em 0em 1.5em;
}

a {
    font-size: 1.3em;
    font-weight: 300;
    color: rgba(218, 195, 255);
    text-decoration: inherit;
    transition: color 0.3s ease;
}

a:hover {
    color: rgb(181, 169, 247);
}